<div class="leftbox z-depth-3">
    <a href="#!" class="box1 "><i class="icon iconfont ">&#xe651;</i></a>
    <a href="#!" class="box2"><i class="icon iconfont">&#xe61f;</i></a>
    <a href="#!" class="box3"><i class="icon iconfont">&#xe641;</i></a>
    <a href="http://www.weibo.com/yoquwap" class="box4"><i class="icon iconfont">&#xe652;</i></a>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">\(＾O＾)/</h5>
                <div class="grey-text text-lighten-4">
                        <pre>
  ____          _ _
 / ___|___   __| (_)_ __   __ _
| |   / _ \ / _` | | '_ \ / _` |
| |__| (_) | (_| | | | | | (_| |
 \____\___/ \__,_|_|_| |_|\__, |
                          |___/
                        </pre>
                </div>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">友情链接</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">百度</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">谷歌</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">淘宝</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">京东</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright yoqu <i><a href="/admin/" style="color:#eeeeee ;">后台</a></i>
        </div>
    </div>
</footer>
<script type="text/javascript" src="${site_url}front/js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="${site_url}front/js/materialize.js"></script>
<script type="text/javascript" src="${site_url}front/js/plugins/tooltipster/js/jquery.tooltipster.min.js"></script>
<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('.btn-floating').tooltip({delay: 50});

        $('.leftbox a').hover(function () {
            $(this).animate({width: '40px'}, 300);
        }, function () {
            $(this).animate({width: '50px'}, 300);
        });
        $('.leftbox .box1').tooltipster({
            content:$('<span><img src="/front/img/wechat.png" height="300px" width="300px" /></span>'),
            position:"left",
        });
        $('.leftbox .box2').tooltipster({
            content:$('<span><img src="/front/img/alipay.jpg" height="400px" width="300px"/></span>'),
            position:"left",
        });
        $('.leftbox .box3').tooltipster({
            content:"QQ:523915627",
            position:"left",
        });
        $('.leftbox .box4').tooltipster({
            content:"川帅第一号",
            position:"left",
        });


    });

</script>
<#macro script>
    <#nested>
</#macro>
</body>
