<div class="col l3 s12 m12">
    <div class="col s12">
        <ul class="tabs tab-demo z-depth-1 ">
            <li class="tab col s3"><a class="active" href="#test1">简介</a></li>
            <li class="tab col s3"><a href="#test2">支持</a></li>
        </ul>
    </div>
    <div class="col s12">
        <div id="test1">
            <div id="description" class="card green darken-2">
                <div class="card-image">
                    <a href="#" class="my_photo">
                                        <span class="photo_title">
                                            yoqu
                                        </span>
                    </a>
                </div>
                <div class="card-content">
                    <p><b>个人简介：</b>yoqu(yoqulin)，爱好编程。擅长用java，php语言开发web项目.</p>
                </div>
            </div>
        </div>
        <div id="test2" class="col s12">Test 2</div>
    </div>

</div>

