<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description"
          content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords"
          content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title> ${site_title}|${site_name}</title>
    <!-- Favicons-->
    <link rel="icon" href="${site_url}admin/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="${site_url}admin/images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="${site_url}admin/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="${site_url}admin/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="${site_url}admin/css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="${site_url}admin/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="${site_url}admin/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet"
          media="screen,projection">
    <link href="${site_url}admin/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet"
          media="screen,projection">
    <#macro head>
        <#nested>
            </head>

<body>
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper">
                <ul class="left">
                    <li><h1 class="logo-wrapper"><a href="${site_url}admin/dashboard" class="brand-logo darken-1"><img
                            src="${site_url}admin/images/materialize-logo.png" alt="materialize logo"></a> <span
                            class="logo-text">Final CMS系统</span>
                    </h1></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="user-details cyan darken-2">
                    <div class="row">
                        <div class="col col s4 m4 l4">
                            <img src="${site_url}admin/images/avatar.jpg" alt=""
                                 class="circle responsive-img valign profile-image">
                        </div>
                        <div class="col col s8 m8 l8">
                            <ul id="profile-dropdown" class="dropdown-content">
                                <li><a href="#"><i class="mdi-action-face-unlock"></i> 资料</a>
                                </li>
                                <li><a href="#"><i class="mdi-action-settings"></i> 设置</a>
                                </li>
                                <li><a href="#"><i class="mdi-communication-live-help"></i> 帮助</a>
                                </li>
                                <li class="divider"></li>
                                </li>
                                <li><a href="${site_url}user/doLogout"><i class="mdi-hardware-keyboard-tab"></i> 退出</a>
                                </li>
                            </ul>
                            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#"
                               data-activates="profile-dropdown">${online_user.nickname}<i
                                    class="mdi-navigation-arrow-drop-down right"></i></a>
                            <p class="user-roal">${online_user.role.name}</p>
                        </div>
                    </div>
                </li>
                <li class="bold"><a href="${site_url}admin/dashboard" class="waves-effect waves-cyan"><i
                        class="mdi-action-dashboard"></i>面板</a>
                </li>
                <li class="bold"><a href="${site_url}admin/menu" class="waves-effect waves-cyan"><i
                        class="mdi-navigation-menu"></i>菜单</a>
                </li>
                <li class="bold"><a href="${site_url}admin/role" class="waves-effect waves-cyan"><i
                        class="mdi-action-perm-contact-cal"></i>权限</a>
                </li>
                <li class="bold"><a href="${site_url}admin/node" class="waves-effect waves-cyan"><i
                        class="mdi-content-drafts"></i>内容管理</a>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i
                                class="mdi-action-account-circle"></i>用户</a>
                            <div class="collapsible-body" style="">
                                <ul>
                                    <li><a href="${site_url}admin/people">用户管理</a>
                                    </li>
                                    <li><a href="${site_url}admin/people/create">添加用户</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <a href="#" data-activates="slide-out"
               class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i
                    class="mdi-navigation-menu"></i></a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        </#macro>