<!-- LEFT RIGHT SIDEBAR NAV-->
</div>
<!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START FOOTER -->
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright © 2015 <a class="grey-text text-lighten-4"
                                      href="#!">Yoqu</a> All rights reserved.</span>
            <span class="right"> Design and Developed by <a class="grey-text text-lighten-4"
                                                            href="#!">Yoqu</a></span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->


<!-- ================================================
Scripts
================================================ -->

<!-- jQuery Library -->
<script type="text/javascript" src="${site_url}admin/js/plugins/jquery-1.11.2.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="${site_url}admin/js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="${site_url}admin/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="${site_url}admin/js/plugins.min.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="${site_url}admin/js/custom-script.js"></script>
<#macro script>
    <#nested>
</#macro>
</body>

</html>